.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.google-logo{
  display: flex;
  height: 150px;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  font-size: 100px;
  color: red;
  margin-top: 20px;
}

.user-info{
display: flex;
flex-direction: row;
position: absolute;
top: 0;
right: 0;
color: blue;
}

.user-picture{
  margin-right: 10px;
  margin-top: 10px;
}

.user-mail{
  margin-right: 10px;
  margin-top: 10px;
}

.superdiv{
  width: 100%;
  position: relative;
}

.search-info{
  text-align: center;
}

.search-buttons{
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.search-standard{
  margin: 10px;
}

@keyframes app-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
